@using MvcMoeda.Models
@using MvcMonitoramento.Models
@model MvcMonitoramento.Models.Monitoramento


@{
    ViewData["Title"] = "Edit";
    var moedas = (IEnumerable<Moeda>) ViewData["Moedas"];
    var monitoramento = Model;
    
    
}

<h1>Edit</h1>

<h4>Monitoramento</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">

                <label asp-for="MoedaOrigemId" class="control-label"></label>
                <select name="MoedaOrigemId" id="MoedaOrigemId">
                    
                    @foreach (var moeda in moedas){
                        @if (monitoramento.MoedaOrigemId == moeda.Id) {

                            <option value="@moeda.Id" selected="true">@moeda.Nome</option> 
                        } else
                        {
                            <option value="@moeda.Id" >@moeda.Nome</option> 
                        }
                    }
                </select>
            </div>

            <div class="form-group">

                <label asp-for="MoedaAlvoId" class="control-label"></label>
                <select name="MoedaAlvoId" id="MoedaAlvoId">
                    
                    @foreach (var moeda in moedas){
                        @if (monitoramento.MoedaAlvoId == moeda.Id) {

                            <option value="@moeda.Id" selected="true">@moeda.Nome</option> 
                        } else
                        {
                            <option value="@moeda.Id" >@moeda.Nome</option> 
                        }
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="ValorDeVenda" class="control-label"></label>
                <input class="form-control" type=numeric data-val=true 
                data-val-required="The Limite do Valor de Venda field is required." id="ValorDeVenda" name="ValorDeVenda" value=@monitoramento.ValorDeVenda  />
                
                <span asp-validation-for="ValorDeVenda" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ValorDeCompra" class="control-label"></label>
                <input class="form-control" type=numeric data-val=true 
                data-val-required="The Limite do Valor de Venda field is required." id="ValorDeCompra" name="ValorDeCompra" value=@monitoramento.ValorDeCompra  />
                <span asp-validation-for="ValorDeCompra" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
