@model IEnumerable<MvcMonitoramento.Models.Monitoramento>
@using MvcMoeda.Models



@{
    ViewData["Title"] = "Listagem Monitoramento";
    var moedas = (IEnumerable<Moeda>) ViewData["Moedas"];
    
    
}

<h1>Listagem Monitoramento</h1>

    <div class="div-add-button">

        <a asp-action="Create" class="add-button">+</a>
    </div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome) 
                @ViewData["Message"]
            </th>
            <th>
                Moeda de Origem
            </th>
            <th>
                Moeda Alvo
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValorDeVenda)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValorDeCompra)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td class="td-limit">
                @moedas.First(c => c.Id == item.MoedaOrigemId).Nome
                @* @Html.DisplayFor(modelItem => item.MoedaOrigemId) *@
            </td>
            <td class="td-limit">
                @moedas.First(c => c.Id == item.MoedaAlvoId).Nome
                @* @Html.DisplayFor(modelItem => item.MoedaAlvoId) *@
            </td>
            <td class="td-limit">
                @Html.DisplayFor(modelItem => item.ValorDeVenda)
            </td>
            <td class="td-limit">
                @Html.DisplayFor(modelItem => item.ValorDeCompra)
            </td>
            <td>
                <a asp-action="Edit" class="action-button detalhar_button" asp-route-id="@item.Id">Editar</a>
                @* <a asp-action="Details" class="action-button detalhar_button" asp-route-id="@item.Id">Detalhar</a> *@
                <a class="action-button excluir_button" valor-id="@item.Id">Excluir</a>
                
            </td>
        </tr>
}
    </tbody>
</table>
<script>
    
    
    document.querySelector(".excluir_button").addEventListener("click", (e)=> {
        const id =  e.target.getAttribute("valor-id");
        console.log("t")
        $.ajax({
        type: "POST",
        url: '@Url.Action("Delete")'+"/"+id,
        data: {Id: id},

        header: "Content-Type:application/json",
        success: function (data) {
            @* console.log(data); *@
            e.target.parentElement.parentElement.remove()
        },
        
        
        error: function(err){
            console.log(err);
        }
        })

    })
</script>