@model IEnumerable<MvcMoeda.Models.Moeda>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<div class="div-add-button">

        <a asp-action="Create" class="add-button">+</a>
    </div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td style="width: 80%">
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                <a asp-action="Edit"  class="action-button detalhar_button" asp-route-id="@item.Id">Editar</a> 
               
                  <a class="action-button excluir_button" valor-id="@item.Id">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>

<script>

    document.querySelector(".excluir_button").addEventListener("click", (e)=> {
        const id =  e.target.getAttribute("valor-id");
        console.log("t")
        $.ajax({
        type: "POST",
        url: '@Url.Action("Delete")'+"/"+id,
        data: {Id: id},

        header: "Content-Type:application/json",
        success: function (data) {
            @* console.log(data); *@
            e.target.parentElement.parentElement.remove()
        },
        
        
        error: function(err){
            console.log(err);
        }
        })

    })
</script>